@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	outline: none;
}
cursor {
	height: 3120px;
	width: 20px;
}
@keyframes text-flicker-in-glow {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 0;
		text-shadow: none;
	}
	10.1% {
		opacity: 1;
		text-shadow: none;
	}
	10.2% {
		opacity: 0;
		text-shadow: none;
	}
	20% {
		opacity: 0;
		text-shadow: none;
	}
	20.1% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
	}
	20.6% {
		opacity: 0;
		text-shadow: none;
	}
	30% {
		opacity: 0;
		text-shadow: none;
	}
	30.1% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
			0 0 60px rgba(255, 255, 255, 0.25);
	}
	30.5% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
			0 0 60px rgba(255, 255, 255, 0.25);
	}
	30.6% {
		opacity: 0;
		text-shadow: none;
	}
	45% {
		opacity: 0;
		text-shadow: none;
	}
	45.1% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
			0 0 60px rgba(255, 255, 255, 0.25);
	}
	50% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
			0 0 60px rgba(255, 255, 255, 0.25);
	}
	55% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
			0 0 60px rgba(255, 255, 255, 0.25);
	}
	55.1% {
		opacity: 0;
		text-shadow: none;
	}
	57% {
		opacity: 0;
		text-shadow: none;
	}
	57.1% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
			0 0 60px rgba(255, 255, 255, 0.35);
	}
	60% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
			0 0 60px rgba(255, 255, 255, 0.35);
	}
	60.1% {
		opacity: 0;
		text-shadow: none;
	}
	65% {
		opacity: 0;
		text-shadow: none;
	}
	65.1% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
			0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
	}
	75% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
			0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
	}
	75.1% {
		opacity: 0;
		text-shadow: none;
	}
	77% {
		opacity: 0;
		text-shadow: none;
	}
	77.1% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
			0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
			0 0 100px rgba(255, 255, 255, 0.1);
	}
	85% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
			0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
			0 0 100px rgba(255, 255, 255, 0.1);
	}
	85.1% {
		opacity: 0;
		text-shadow: none;
	}
	86% {
		opacity: 0;
		text-shadow: none;
	}
	86.1% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
			0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
			0 0 100px rgba(255, 255, 255, 0.1);
	}
	89.1% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
			0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
			0 0 100px rgba(255, 255, 255, 0.1);
	}
	90.1% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
			0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
			0 0 100px rgba(255, 255, 255, 0.1);
	}
	91.1% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
			0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
			0 0 100px rgba(255, 255, 255, 0.1);
	}
	92.1% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
			0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
			0 0 100px rgba(255, 255, 255, 0.1);
	}
	95.1% {
		opacity: 1;
		animation-duration: 31s;
		text-shadow: 0 0 3000px rgba(255, 0, 0, 0.6), 0 0 600px rgba(255, 0, 0, 0.45),
			0 0 1100px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
	}
	96.1% {
		opacity: 1;
		animation-duration: 31s;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
			0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
			0 0 100px rgba(255, 255, 255, 0.1);
	}
	97.1% {
		opacity: 1;
		animation-duration: 31s;
		text-shadow: 0 0 30px rgba(1, 140, 3, 0.6), 0 0 60px rgba(255, 255, 255, 0.45),
			0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
	}
	100% {
		opacity: 1;
		text-shadow: 0 0 10px rgba(255, 255, 255, 0.6),
			0 0 20px rgba(255, 255, 255, 0.45), 0 0 10px rgba(255, 255, 255, 0.25),
			0 0 10px rgba(255, 255, 255, 0.1);
	}
}

@keyframes blink {
	40% {
		opacity: 1;
	}

	42% {
		opacity: 0.8;
	}

	43% {
		opacity: 1;
	}

	45% {
		opacity: 0.2;
	}

	46% {
		opacity: 0.4;
	}
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@keyframes buzz {
	70% {
		opacity: 0.8;
	}
}
